@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Raleway:400i');
@import url('https://fonts.googleapis.com/css?family=Rubik:300');
@import url('https://fonts.googleapis.com/css?family=Sanchez');
@import url('https://fonts.googleapis.com/css?family=Exo:200');

/* Body */
body {
  margin: 0;
}

/* Remove Focus Outline */
*:focus {
  outline: none;
}

/* Navigation Bar */
.nav_bar {
  overflow: hidden;
  background-color: rgba(255,255,255,0.975);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
} 
.nav_home {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 0;
  padding: 0;
  float: left;
  list-style-type: none;
}
.nav_list {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 10px;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}
.nav {
  float: right;
}

/* hr */
hr {
  border: 0;
  height: 1px;
  width: 70%;
}    
.about hr {
  background-image: linear-gradient(to right, #333333, #FF9933 25%, #FF9933 75%, #333333 100%);
}
.education hr {
  background-image: linear-gradient(to right, #0E2F44, #FF9933 25%, #FF9933 75%, #0E2F44 100%);
}
.experience hr {
  background-image: linear-gradient(to right, #F7F7F7, #FF9933 25%, #FF9933 75%, #F7F7F7 100%);
}
.projects hr {
  background-image: linear-gradient(to right, rgba(0,0,0,0), #FF9933 25%, #FF9933 75%, rgba(0,0,0,0) 100%);
}

/* Title */
.title_div {
  background-image: url(/images/ny_background.jpg);
  background-size: cover;
  background-size: 100% 100%;
  width: 100%;
  margin: 0;
}
.title {
  font-family: 'Sanchez', serif;
  font-size: 120px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 2px 2px #333333;
  padding-top: 300px;
  padding-bottom: 300px;
  margin: 0;
}

/* Link */
a, a:visited, a:link, a:active {
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
}
a:visited {
  color: inherit;
}
.nonwhite {
  color: white;
}
.white {
  color: black;
}
li.nav a {
  display: block;
  color: #333333;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 9px;
  padding-right: 9px;
  text-decoration: none;
}
h2 a {
  font-size: 35px;
}

/* External Button */
.ext_btn {
  border-radius: 3%;
  border: solid;
  border-width: 1px;
  width: 240px;
  height: 60px;
}
img#linkedin {
  width: 240px;
  height: 60px;
  border-color: #0099CC;
}
img#github {
  width: 189px;
  height: 60px;
  border-color: #333333;
}

/* h2 */
h2 {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Profile */
.profile_list {
  list-style-type: none;
  padding: 0;
  width: 50%;
}
.profile a {
  float: left;
}
.profile p {
  margin: 20px;
  display:inline-block;
  font-family: 'Roboto Slab', sans-serif;
  overflow: hidden;
}
.profile_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  vertical-align: bottom;
}

/* About */
.about {
  background-color: #0E2F44;
  padding-top: 40px;
  padding-bottom: 100px;
  color: white;
}
.about_photo {
  width: 180px;
  height: 240px;
  display: inline-block;
  margin-left: 30px;
  margin-top: 30px;
}
#about_photo {
  width: 180px;
  height: 240px;
  vertical-align: bottom;
  border-radius: 50%;
}
.about_intro {
  display: inline-block;
  width: 80%;
  margin-left: 10px;
  margin-right: 10px;
}
.about_intro p {
  display: inline-block;
  text-align: center;
  margin: 0;
}
#about_intro {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}
#about_intro_2 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 18px;
}

/* Education */
.education {
  background-color: #333333;
  padding-top: 40px;
  padding-bottom: 100px;
  color: white;
  font-family: 'Roboto Slab', sans-serif;
}
.course_list {
  padding: 0;
  width: 55%;
}
.course {
  text-align: left;
}

/* Experience */
.experience {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 100px;
  color: black;
}

/* Projects */
.projects {
  background-image: url(/images/laptop-bg.jpg);
  background-size: 100% 100%;
  padding-top: 40px;
  padding-bottom: 100px;
  color: white;
}
.project_list {
  width: 50%;
  list-style-type: none;
  padding-left: 0px;
}
.project {
  margin-bottom: 40px;
  border-radius: 15%;
}
.project_title {
  font-size: 15px;
  color: black;
}
.project_img {
  display: inline-block;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
  vertical-align: bottom;
  width: 100%;
  height: 250px;
  margin: 0;
}
.project_info {
  background-color: white;
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  color: #333333;
  font-family: 'Exo', sans-serif;
}

/* Contact */
.contact {
  background-color: #0E2F44;
  padding-top: 40px;
}
.contact_img {
  width: 70px;
  height: 70px;
  margin-right: 17px;
  margin-left: 17px;
}

/* Footer */
.footer {
  font-family: 'Exo', sans-serif;
  text-align: left;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 35px;
}
.footer p {
  color: white;
  margin: 0px;
}
